<head>
<title>Styles</title>
<link rel="stylesheet" href="/path/stylesheet.css">

body
{font-family: Georgia, serif;}

grouped selectors h1, h2, 
{ color: #2F4F4F; font-family: Georgia, serif;}

.special {color: pink}

.evenrow {background-color:floralwhite;}

h1 {font-size: 2em;}
h2 {font-size: 1.5em;}


